// views/register.pug
doctype html
html
  head
    title 회원 가입 폼
  body
    h1 회원 가입 폼
    form(action="signup/register", method="post")
      label(for="username") 아이디:
      input(type="text", name="user", id="user", required)
      br
      label(for="password") 패스워드:
      input(type="password", name="pwd", id="pwd", required)
      br
      label(for="confirmPassword") 패스워드 확인:
      input(type="password", name="confirmPassword", id="confirmPassword")
      br
      input(type="submit", value="가입하기")
